@{
    ViewData["Title"] = "Add Employee";
}

<div class="container-fluid">
    <h1 class="h2 mb-4">Add New Employee</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee Details</h5>
            <!-- Employee form will go here -->
            <p>Employee form coming soon...</p>
        </div>
    </div>
</div> 